.footer {
    display: flex;
    flex-direction: column;
    background-color: #353535;
    font-family: $font-text;
    color: white;
    padding: 15px;

    &__titre {
       @include logo;
       @include desktop{
        text-align: center
       };
    }

    &__list {
        list-style-type: none;
        padding-left: 0;

        @include desktop{
            justify-content: space-between;
        };

        a {
            color: white;
        }

        li{
            font-size: 0.9rem;
            padding: 5px;
            
        }  
    }
  
    &__list--icon {
        display: flex;
        i {
            height: 17px;
            width: 25px;
        }
        
    }
}