.footer {
    display: flex;
    flex-direction: column;
    background-color: #353535;
    font-family: $font-text;
    color: white;
    padding: 15px;

    &__titre {
       @include logo;
    }

    &__list {
        list-style-type: none;
        padding-left: 0;

        a{
            color: white; 
        }

        li{
            
            font-size: 0.9rem;
            font-weight: 300;
            padding: 5px;
            
        }
        
    }
  
}