.header {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    padding: 10px;
        
        &__logo {
            @include logo;
            font-size: 20px;
            margin: 0 auto 0 auto;

}

}

