* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.header {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  padding: 10px;
}
.header__logo {
  justify-content: center;
  font-family: "Shrikhand", cursive;
  margin: 0;
  font-size: 20px;
  margin: 0 auto 0 auto;
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  font-family: "Roboto", sans-serif;
  color: white;
  padding: 15px;
}
.footer__titre {
  justify-content: center;
  font-family: "Shrikhand", cursive;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .footer__titre {
    display: flex;
    flex-direction: row;
    text-align: center;
  }
}
.footer__list {
  list-style-type: none;
  padding-left: 0;
}
@media screen and (min-width: 768px) {
  .footer__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.footer__list a {
  color: white;
}
.footer__list li {
  font-size: 0.9rem;
  padding: 5px;
}
.footer__list--icon {
  display: flex;
}
.footer__list--icon i {
  height: 17px;
  width: 25px;
}

.reservation__button,
.menu__BtnCommander {
  border-radius: 50px;
  background: linear-gradient(#FF79DA, #9356DC);
  padding: 10px 20px 10px 20px;
  margin: 10px;
  border: 0;
  color: white;
  font-size: 0.9rem;
  box-shadow: 3px 3px 15px #B6B6B6;
  position: relative;
  z-index: 1;
}
.reservation__button:hover::after,
.menu__BtnCommander:hover::after {
  opacity: 1;
}
.reservation__button::after,
.menu__BtnCommander::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50px;
  background: linear-gradient(#ff93e1, #a16be0);
  box-shadow: 3px 3px 10px #9d9d9d;
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
}

.reservation {
  display: flex;
  flex-direction: column;
}
.reservation__search {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #e5e5e5;
  padding: 10px;
  box-shadow: inset 0px 3px 3px #B6B6B6;
}
.reservation__input {
  background-color: #e5e5e5;
  border: none;
  text-align: center;
}
.reservation__input::placeholder {
  color: black;
}
.reservation__explorer {
  padding: 30px;
  text-align: center;
  background-color: #F2F2F2;
}
.reservation__explorer h1 {
  font-size: 1.25rem;
}
.reservation__explorer p {
  color: #999999;
  font-size: 16px;
  font-weight: 300;
}

.index__titre {
  font-size: 18px;
}

.fonctionnement {
  padding: 20px;
}
@media screen and (min-width: 768px) {
  .fonctionnement__main__block {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}
.fonctionnement__block {
  display: flex;
  position: relative;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px;
  border-radius: 15px;
  background: #F2F2F2;
  font-size: 13px;
  padding: 20px;
  box-shadow: 3px 3px 15px #B6B6B6;
}
@media screen and (min-width: 768px) {
  .fonctionnement__block {
    display: flex;
    flex-direction: row;
    width: 30%;
  }
}
.fonctionnement__block:hover {
  background-color: #f2eafb;
}
.fonctionnement__block:hover .fonctionnement__icon {
  color: #9356DC;
}
.fonctionnement__number {
  position: absolute;
  left: -10px;
  text-align: center;
  width: 20px;
  height: 20px;
  border: 1px solid #9356DC;
  border-radius: 50%;
  background-color: #9356DC;
  color: white;
  font-size: 0.7rem;
  margin: 0;
  padding: 2px;
}
.fonctionnement__icon {
  color: #4d4d4d;
}
.fonctionnement__text {
  margin: 0;
}

.restaurant {
  padding: 1.25rem;
  background: #F2F2F2;
}
@media screen and (min-width: 768px) {
  .restaurant__main__card {
    display: flex;
    flex-direction: row;
  }
}
.restaurant__card {
  border-radius: 15px;
  height: auto;
  margin: 1rem 0 1rem 0;
  box-shadow: 3px 3px 15px #B6B6B6;
}
.restaurant__img {
  width: 100%;
  height: 10rem;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.restaurant__new {
  background-color: #99E2D0;
  position: absolute;
  right: 20px;
  margin: 10px;
  color: #278870;
  font-size: 0.7rem;
  font-weight: 700;
  padding: 0.3rem 0.5rem 0.3rem 0.5rem;
  border-radius: 3px;
}
.restaurant__info {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.restaurant__info h3 {
  font-size: 0.9rem;
  margin: 0;
}
.restaurant__info p {
  font-size: 0.85rem;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

.restaurant-heart__white {
  position: relative;
  z-index: 1;
  opacity: 1;
}
.restaurant-heart__color {
  position: relative;
  left: -20px;
  font-size: 16px;
  background: -webkit-linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  z-index: 1;
  transition: opacity 1s ease-in-out 0s;
}
.restaurant-heart:hover .restaurant-heart__color {
  opacity: 1;
}
.restaurant-heart:hover .restaurant-heart__white {
  opacity: 0;
}

.menu {
  background-color: #F2F2F2;
}
.menu__image {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.menu__NomRestaurant {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  position: absolute;
  width: 100%;
  margin-top: -70px;
  background-color: #F2F2F2;
}
.menu h1 {
  font-family: "Shrikhand", cursive;
  font-size: 1.75rem;
  margin: 0.5rem 0 0.5rem 0;
}
.menu__icon__heart {
  font-size: 30px;
}
.menu__btn {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2.5rem 0 4rem 0;
}

.carte {
  position: relative;
  top: 1.5rem;
}

.plat__titre {
  text-transform: uppercase;
  border-bottom: 3px solid #99E2D0;
  width: 3.125rem;
  padding: 5px;
  margin: 0.625rem;
  font-weight: 400;
  font-size: 1.125rem;
}
.plat__box {
  display: flex;
  flex-direction: row;
  background-color: white;
  justify-content: space-between;
  border-radius: 15px;
  margin: 20px;
  box-shadow: 3px 3px 15px #B6B6B6;
}
.plat__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
}
.plat__info h3 {
  font-size: 0.9rem;
  margin: 0;
}
.plat__info p {
  font-size: 0.85rem;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

.prix {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}
.prix p {
  font-size: 0.9rem;
  margin: 0;
  font-weight: 700;
  padding-bottom: 15px;
}
.prix__circle {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #99E2D0;
  width: 70px;
  height: 100%;
  transform: scalex(0);
  transition: transform 800ms cubic-bezier(0.32, 0, 0.07, 1);
}
.prix__icon {
  color: white;
}
.prix:hover .prix__circle {
  transform: scalex(1);
  transform-origin: right;
}
.prix:hover .prix__icon {
  transform: rotate(360deg);
}

/*# sourceMappingURL=style.css.map */
