$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-background: #F2F2F2;
$color-shadow: #B6B6B6;
$color-text: black;

$num-menu: 3;
$anim-duration: 1000ms;
$anim-delay: calc($anim-duration / $num-menu);



$base-font-size: 16px;

$font-titre: 'Shrikhand',cursive;
$font-text: 'Roboto', sans-serif;

$breakpoints: (
    mobile : 599px,
    tablet : 768px
);
